{% extends "base.html" %}
{% block content %}
<h3>즐겨찾기 도착 정보</h3>
{% if info %}
<ul class="list-group mb-4">
    {% for item in info %}
    <li class="list-group-item">
        <strong>{{ item.rtNm }}번</strong> → {{ item.stationName }} 방면<br>
        {{ item.arrmsg1 }} (다음: {{ item.nxtStn }})<br>
        구간: {{ item.sectNm }}
    </li>
    {% endfor %}
</ul>

<div id="map" style="height: 400px;"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
    var lat = {{ info[0].tmY }};
    var lng = {{ info[0].tmX }};
    var stationName = "{{ info[0].stationName }}";
    var arsId = "{{ info[0].arsId }}";

    var map = L.map('map').setView([lat, lng], 15);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    }).addTo(map);

    L.marker([lat, lng])
        .addTo(map)
        .bindPopup(`<strong>${stationName}</strong><br/>정류장 ID: ${arsId}`)
        .openPopup();
</script>
{% else %}
<p>해당 노선에 대한 도착 정보를 찾을 수 없습니다.</p>
{% endif %}
{% endblock %}