<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">버스앱</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if session.username %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        즐겨찾기
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% for fav in session.favorites %}
                        <li>
                            <a class="dropdown-item" href="{{ url_for('main.view_station') }}?arsId={{ fav[1] }}">
                                {{ fav[2] }}번 ({{ fav[0] }})
                            </a>
                        </li>
                        {% endfor %}
                        {% if session.favorites|length == 0 %}
                        <li><span class="dropdown-item text-muted">등록된 즐겨찾기 없음</span></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <span class="nav-link">안녕하세요, {{ session.username }}님</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.logout') }}">로그아웃</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.login') }}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.signup') }}">회원가입</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>